# Ignore Visual Studio specific files
.vs/
*.suo
*.user
*.cache
*.log

# Ignore build directories
bin/
obj/

# Ignore temporary files
*.tmp
*.bak

# Ignore Web.config file
UAS/Web.config

# Ignore packages directory
packages/*

